<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center" style="font-weight: bold">Wilkommen</h1>
    <hr>
    <div class="row">
          <form action="" class="col-4 centered">
            <div class="form-group">
              <label for="username">Benutzer</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="from-group">
              <label for="password">Passwort</label>
              <input type="password" class="form-control" id="password" placeholder="Passwort">
            </div>
            <p></p>
            <div class="col-3 centered">
              <button class="btn btn-success">Login</button>
            </div>
          </form>
    </div>
    <p class="col-4 centered text-center">No Account yet? <a href="#">Register now</a></p>
  </div>
</div>