<h1>Entries</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Datum</th>
                <th class="col">Posten</th>
                <th>Betrag</th>
                <th>€</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th>22.04.18</th>
                <th>TestPosten</th>
                <th>30,00</th>
                <th>€</th>
            </tr>
        </tbody>
    </table>
</div>
